* {
  box-sizing: border-box;
  transition: 1.5s;
}

body {
  background-color: #FFFFFF;
  position: relative;
}

.container {
  max-width: 1440px;
  padding: 75px 0;
  margin: 0 auto;
}

.logo {
  background-color: #FFFFFF;
  -webkit-mask-image: url(../assets/icons/logo.svg);
  -webkit-mask-position: center;
  -webkit-mask-size: auto;
  -webkit-mask-repeat: no-repeat;
  width: 200px;
  height: 30px;
}

.logo:hover {
  background-color: #9D8665;
}

.logo > a {
  width: inherit;
  height: inherit;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item > a {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav__item > a:hover {
  color: #9D8665;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.section-title_hover {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  color: #9D8665;
}

.section-title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.section-title-delimiter {
  width: 100%;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
}

.section-subtitle {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  letter-spacing: 2px;
}

iframe {
  width: 100vw !important;
  height: 100vh !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.header__container {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 55px;
}

.burger-menu {
  display: none;
}

.burger-menu__icon {
  background-image: url("../assets/icons/burger-menu.svg");
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  width: 32px;
  height: 18px;
}

.welcome {
  background-color: #030303;
  padding-top: 150px;
  padding-bottom: 60px;
}

.welcome__container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.welcome__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

.welcome__section-title {
  margin-bottom: 25px;
}

.welcome__section-subtitle {
  margin-bottom: 75px;
}

.welcome__button {
  width: 360px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #710707;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}

.welcome__button:hover {
  width: 360px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #710707;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #9D8665;
}

.welcome__slider {
  position: relative;
  width: 70%;
  height: 810px;
  background-color: #030303;
  margin-left: auto;
}

.welcome__slider .slides {
  width: 100%;
  height: inherit;
  background-color: #030303;
  overflow: hidden;
}

.welcome__slider .slide {
  display: none;
  width: inherit;
  height: inherit;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/image/welcome-slider.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome__slider .slide_active {
  display: flex;
}

.welcome__slider .slider-footer {
  width: 600px;
  height: 120px;
  background-color: #030303;
  position: absolute;
  bottom: -60px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__slider .slider-footer .slider-counts {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.welcome__slider .slider-footer .slider-counts > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  line-height: 40px;
  align-items: center;
  text-transform: uppercase;
}

.welcome__slider .slider-footer .slider-counts .count-delimiter {
  height: 20px;
  width: 2px;
  background-color: #FFFFFF;
  margin: 0 10px;
}

.welcome__slider .slider-footer .slider-pagination {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.welcome__slider .slider-footer .slider-pagination .slider-pagination-item {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.welcome__slider .slider-footer .slider-pagination .slider-pagination-item:not(:last-child) {
  margin-right: 25px;
}

.welcome__slider .slider-footer .slider-pagination .slider-pagination-item_active {
  background-color: #9D8665;
}

.welcome__slider .slider-footer .slider-pagination .slider-pagination-item:hover {
  background-color: #9D8665;
}

.welcome__slider .slider-footer .slider-arrows {
  display: flex;
  align-items: center;
}

.welcome__slider .slider-footer .slider-arrows .slider-arrow {
  width: 30px;
  height: 8px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  -webkit-mask-position: center;
  -webkit-mask-size: auto;
  -webkit-mask-repeat: no-repeat;
  cursor: pointer;
}

.welcome__slider .slider-footer .slider-arrows .slider-arrow:hover {
  background-color: #9D8665;
}

.welcome__slider .slider-footer .slider-arrows .slider-arrow_left {
  -webkit-mask-image: url(../assets/icons/slider-arrow.svg);
  margin-right: 20px;
}

.welcome__slider .slider-footer .slider-arrows .slider-arrow_right {
  -webkit-mask-image: url(../assets/icons/slider-arrow.svg);
  transform: rotate(-180deg);
}

@keyframes toRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes toLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.visiting__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 75px 60px;
}

.visiting__content .tour {
  display: flex;
  text-decoration: none;
}

.visiting__content .tour-inner {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 440px;
}

.visiting__content .tour-image {
  width: 100%;
  height: 285px;
  object-fit: cover;
  margin-bottom: 25px;
}

.visiting__content .tour-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  color: #000000;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  margin: 0;
}

.visiting__content .tour-title-delimiter {
  width: 300px;
  height: 2px;
  background-color: #710707;
  margin: 10px 0;
}

.visiting__content .tour-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 200;
  display: block;
  margin-bottom: 10px;
}

.visiting__content .tour-subtitle_small {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 200;
}

.explore {
  background-color: #030303;
}

.explore__container {
  display: flex;
  align-items: flex-start;
}

.explore__content {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.explore__description > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 38px;
  margin: 0;
}

.explore__description > p:not(:last-child) {
  margin-bottom: 25px;
}

.explore__slider {
  width: 720px;
  height: 700px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.explore__slider .slider-image {
  width: inherit;
  height: inherit;
  position: relative;
  background-image: url("../assets/image/explore/before.png");
  background-position: 0 center;
  background-repeat: no-repeat;
}

.explore__slider .slider-image_after {
  transition: 0s;
  width: 100%;
  position: absolute;
  top: 0;
  left: -1.5px;
  bottom: 0;
  background-image: url("../assets/image/explore/after.png");
}

.explore__slider .slider-range {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-50%);
}

.explore .mark_yellow {
  color: #9D8665;
}

.gallery {
  background-color: #030303;
}

.gallery__container {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
}

.gallery__container::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery__content {
  column-count: 3;
  column-gap: 36px;
}

.gallery__content-wrapper {
  height: 1960px;
  overflow: hidden;
}

.gallery__content > img {
  width: 100%;
  margin-bottom: 24px;
}

.parallax {
  height: 400px;
  width: 100%;
  background-image: url(../assets/image/parallax.jfif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contacts__container {
  padding: 75px 0;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}

.contacts__content .description {
  display: flex;
  flex-direction: column;
}

.contacts__content .map {
  width: 960px;
  height: 620px;
}

.contacts__content .map > img {
  width: inherit;
  height: inherit;
}

.contacts .description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 50px;
}

.contacts .description-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 300;
  margin-bottom: 25px;
}

.footer {
  background-color: #030303;
}

.footer__container {
  padding: 75px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__logo {
  margin-right: 145px;
}

.footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__nav .nav__list {
  flex-wrap: wrap;
}

.footer__nav .nav__list li {
  flex-basis: 50%;
}

.footer__nav .nav__list li:nth-child(1) {
  order: 0;
}

.footer__nav .nav__list li:nth-child(4) {
  order: 1;
}

.footer__nav .nav__list li:nth-child(2) {
  order: 2;
}

.footer__nav .nav__list li:nth-child(5) {
  order: 3;
}

.footer__nav .nav__list li:nth-child(3) {
  order: 4;
}

.footer__nav .nav__list li:nth-child(6) {
  order: 5;
}

.footer__social-links {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  align-self: flex-end;
}

.footer__social-links .social-links__list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.footer__social-links .social-link {
  position: relative;
  background-color: transparent;
  list-style: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-links .social-link:hover {
  border: 1px solid #9D8665;
}

.footer__social-links .social-link:hover > div {
  background-color: #9D8665;
}

.footer__social-links .social-link:not(:last-child) {
  margin-right: 24px;
}

.footer__social-links .social-link > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.social-link-inner {
  background-color: #FFFFFF;
  -webkit-mask-position: center;
  -webkit-mask-size: auto;
  -webkit-mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.social-link-inner:hover {
  background-color: #9D8665;
}

.social-link-inner_youtube {
  -webkit-mask-image: url(../assets/icons/youtube.svg);
}

.social-link-inner_insta {
  -webkit-mask-image: url(../assets/icons/insta.svg);
}

.social-link-inner_facebook {
  -webkit-mask-image: url(../assets/icons/facebook.svg);
}

.social-link-inner_twitter {
  -webkit-mask-image: url(../assets/icons/twitter.svg);
}

.social-link-inner_pinterest {
  -webkit-mask-image: url(../assets/icons/pinterest.svg);
}

@media (max-width: 1919px) {
  .section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 20px;
  }
  .section-title_hover {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #9D8665;
    font-size: 50px;
    line-height: 75px;
  }
  .section-title-wrapper {
    margin-bottom: 60px;
  }
  .container {
    padding: 60px 20px;
  }
  .header__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header__nav {
    display: none;
  }
  .header__burger-menu {
    display: flex;
  }
  .welcome {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .welcome__container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .welcome__slider {
    height: 585px;
  }
  .welcome__slider .slider-footer {
    left: 0;
    bottom: -120px;
    width: 100%;
  }
  .welcome__content {
    left: 20px;
  }
  .welcome__section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 75px;
  }
  .welcome__section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  .visiting__content {
    grid-gap: 60px 110px;
    justify-content: center;
    margin: 0 auto;
  }
  .visiting__content .tour {
    flex-basis: calc((100% - 110px) / 2);
    justify-content: flex-end;
  }
  .visiting__content .tour:nth-child(2n) {
    justify-content: flex-start;
  }
  .visiting__content .tour-inner {
    width: 330px;
  }
  .visiting__content .tour-image {
    height: 215px;
  }
  .visiting__content .tour-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #000000;
    font-size: 28px;
    line-height: 40px;
  }
  .visiting__content .tour-title-delimiter {
    width: 150px;
  }
  .visiting__content .tour-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-weight: 200;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 200;
  }
  .explore__container {
    flex-direction: column;
  }
  .explore__content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .explore__description > p:nth-child(n+3) {
    display: none;
  }
  .explore__slider {
    margin: 0 auto;
  }
  .gallery__container {
    padding-bottom: 0;
  }
  .gallery__content-wrapper {
    height: 1265px;
  }
  .contacts .description-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
  }
  .contacts .description-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 15px;
  }
  .contacts .map {
    width: 695px;
    height: 455px;
  }
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer__logo {
    margin-right: 45px;
  }
}

@media (max-width: 1023px) {
  .container {
    padding: 40px 20px;
  }
  .section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 60px;
  }
  .section-title_hover {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #9D8665;
    font-size: 40px;
    line-height: 40px;
  }
  .section-title-wrapper {
    margin-bottom: 40px;
  }
  .nav__item > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 50px;
  }
  .welcome {
    padding-top: 110px;
    padding-bottom: 100px;
  }
  .welcome__container {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .welcome__content {
    position: relative;
    transform: translate(0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .welcome__section-title {
    text-align: center;
  }
  .welcome__section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  .welcome__button {
    display: none;
  }
  .welcome__slider {
    width: 100%;
    height: 645px;
  }
  .welcome__slider .slider-footer {
    left: 50%;
    transform: translateX(-50%);
    bottom: -70px;
    width: 400px;
    height: 40px;
  }
  .welcome .slide {
    background: url(../assets/image/welcome-slider.png);
  }
  .visiting__content {
    grid-gap: 40px 55px;
  }
  .visiting__content .tour {
    flex-basis: calc((100% - 55px) / 2);
  }
  .visiting__content .tour-inner {
    width: 280px;
  }
  .visiting__content .tour-image {
    height: 180px;
  }
  .visiting__content .tour-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #000000;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }
  .visiting__content .tour-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 200;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 200;
  }
  .explore__content {
    margin-bottom: 0;
  }
  .explore__description > p {
    display: none;
  }
  .explore__slider {
    width: 728px;
    height: 705px;
  }
  .gallery__container {
    padding-bottom: 0;
  }
  .gallery__content {
    column-count: 2;
    column-gap: 24px;
  }
  .gallery__content-wrapper {
    height: 1080px;
  }
  .parallax {
    height: 300px;
  }
  .contacts__content {
    flex-direction: column;
  }
  .contacts__section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #9D8665;
    font-size: 40px;
    line-height: 40px;
  }
  .contacts .description {
    margin-bottom: 30px;
  }
  .contacts .description-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 40px;
  }
  .contacts .description-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 15px;
  }
  .contacts .map {
    width: 100%;
    height: auto;
  }
  .footer__logo {
    margin-right: 80px;
  }
  .footer__content-wrapper {
    flex-direction: column;
    padding-left: 23px;
  }
  .footer__nav {
    margin-bottom: 30px;
  }
  .footer__nav .nav__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__nav .nav__list li {
    flex-basis: 41%;
  }
  .footer__social-links {
    flex-basis: auto;
    align-self: flex-start;
  }
  .footer__social-links .social-links__list {
    margin-bottom: 0;
  }
  .nav__item {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .logo {
    -webkit-mask-image: url(../assets/icons/logo_mini.svg);
    width: 130px;
    height: 20px;
  }
  .section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 40px;
  }
  .section-title_hover {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #9D8665;
    font-size: 28px;
    line-height: 40px;
  }
  .section-title-wrapper {
    margin-bottom: 40px;
  }
  .header__container {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .nav__item > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 50px;
  }
  .welcome {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .welcome__section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .welcome__slider {
    height: 365px;
  }
  .welcome__slider .slider-footer {
    bottom: -60px;
    width: 230px;
  }
  .visiting__content {
    grid-gap: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .visiting__content .tour {
    flex-basis: 100%;
    justify-content: center;
  }
  .visiting__content .tour:nth-child(2n) {
    justify-content: center;
  }
  .visiting__content .tour-inner {
    width: 280px;
  }
  .visiting__content .tour-image {
    height: 180px;
  }
  .visiting__content .tour-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }
  .visiting__content .tour-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 200;
  }
  .explore__slider {
    width: 100%;
    height: 370px;
  }
  .gallery__container {
    padding-bottom: 0;
  }
  .gallery__content-wrapper {
    height: 640px;
  }
  .contacts__section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    color: #9D8665;
    font-size: 28px;
    line-height: 40px;
  }
  .contacts .description-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  .contacts .description-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__logo {
    margin-right: auto;
    margin-bottom: 25px;
  }
  .footer__content-wrapper {
    padding-left: 0;
    align-self: center;
  }
  .footer__nav {
    margin-bottom: 25px;
  }
  .footer__nav .nav__list li {
    flex-basis: 26%;
    display: flex;
  }
  .footer__nav .nav__list li:nth-child(1) {
    order: 0;
  }
  .footer__nav .nav__list li:nth-child(3) {
    order: 1;
  }
  .footer__nav .nav__list li:nth-child(5) {
    order: 2;
  }
  .footer__nav .nav__list li:nth-child(2) {
    order: 3;
  }
  .footer__nav .nav__list li:nth-child(4) {
    order: 4;
  }
  .footer__nav .nav__list li:nth-child(6) {
    order: 5;
  }
  .footer__social-links {
    align-self: center;
  }
  .footer__social-links .social-link:not(:last-child) {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=style.css.map */