@media (max-width: 1024px)
    .section-title
        @include forum_50_dark
        margin-bottom: 20px
        &-wrapper
            margin-bottom: 60px
    .container
        padding-left: 20px
        padding-right: 20px
    .header
        &__nav
            display: none
        &__burger-menu
            display: flex
    .contacts
        &__container
            padding-top: 60px
            padding-bottom: 60px
        &__content
        &__section-title
            @include forum_50_hover
        & .description
            &-title 
                @include roboto_24_dark
                margin-bottom: 30px
            &-item
                @include roboto_20_dark
                margin-bottom: 15px
        & .map
            width: 695px
            height: 455px
    
    .footer
        &__container
            padding-top: 60px
            padding-bottom: 60px
            flex-wrap: nowrap
        &__logo
            margin-right: 45px
@media (max-width: 768px)
    .section-title
        @include forum_40_dark
        &-wrapper
            margin-bottom: 40px
    .nav
        &__item > a
            @include roboto_18_light
            font-weight: 200
            line-height: 50px
    .contacts
        &__container
            padding-top: 40px
            padding-bottom: 40px
        &__content
            flex-direction: column
        &__section-title
            @include forum_40_hover
        & .description
            margin-bottom: 30px
            &-title 
                @include roboto_20_dark
                margin-bottom: 40px
            &-item
                @include roboto_18_dark
                margin-bottom: 15px
        & .map
            width: 100%
            height: auto
    .footer
        &__container
            padding-top: 40px
            padding-bottom: 40px
        &__logo
            margin-right: 80px
        &__content-wrapper
            flex-direction: column
            padding-left: 23px
        &__nav
            margin-bottom: 30px
            & .nav__list  
                flex-wrap: wrap
                justify-content: space-between
                & li
                    flex-basis: 41%
        &__social-links
            flex-basis: auto
            align-self: flex-start
            & .social-links__list
                margin-bottom: 0
    .nav
        &__item
            font-size: 18px
@media (max-width: 420px)
    .section-title
        @include forum_28_dark
        &-wrapper
            margin-bottom: 40px
    .nav
        &__item > a
            @include roboto_16_light
            font-weight: 200
            line-height: 50px
    .contacts
        &__section-title
            @include forum_28_hover
        & .description
            &-title
                @include roboto_16_dark
            &-item
                @include roboto_16_dark
    .footer
        &__container
            flex-direction: column
        &__logo
            margin-right: auto
            margin-bottom: 25px
        &__content-wrapper
            padding-left: 0
        &__nav
            margin-bottom: 25px
            & .nav__list  
                & li
                    flex-basis: 26%
                    display: flex
                    &:nth-child(1)
                        order: 0
                    &:nth-child(3)
                        order: 1
                    &:nth-child(5)
                        order: 2
                    &:nth-child(2)
                        order: 3
                    &:nth-child(4)
                        order: 4
                    &:nth-child(6)
                        order: 5
        &__social-links
            align-self: center
            & .social-link
                &:not(:last-child)
                    margin-right: 5px
    .logo
        background-image: url('../assets/icons/logo_mini.svg')
        width: 130px
        height: 20px
    .nav
        &__item
            font-size: 16px