.footer
    background-color: $bg-dark
    &__container
        padding: 75px 0
        display: flex
        align-items: flex-start
        flex-wrap: wrap
    &__logo
        margin-right: 145px
    &__content-wrapper
        display: flex
        justify-content: space-between
        flex-grow: 1
    &__nav 
        & .nav__list  
            flex-wrap: wrap
            & li
                line-height: 50px
                flex-basis: 50%
                &:nth-child(1)
                    order: 0
                &:nth-child(4)
                    order: 1
                &:nth-child(2)
                    order: 2
                &:nth-child(5)
                    order: 3
                &:nth-child(3)
                    order: 4
                &:nth-child(6)
                    order: 5
    &__social-links
        margin: 0
        padding: 0
        flex-shrink: 0
        align-self: flex-end
.social-links__list
    display: flex
    margin: 0
    padding: 0
    margin-bottom: 13px
.social-link
    position: relative
    background-color: transparent
    list-style: none
    width: 48px
    height: 48px
    border-radius: 50%
    border: 1px solid $light
    display: flex
    align-items: center
    justify-content: center
    &:hover
        border: 1px solid $gold
    &:hover > div
        background-color: $gold

    &:not(:last-child)
        margin-right: 24px
    & > a
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
.social-link-inner
    background-color: $light
    -webkit-mask-position: center
    -webkit-mask-size: auto
    -webkit-mask-repeat: no-repeat
    width: 24px
    height: 24px
    &:hover
        background-color: $gold
    &_youtube
        -webkit-mask-image: url(../assets/icons/youtube.svg)
        // background-image: url(../assets/icons/youtube.svg)
    &_insta
        -webkit-mask-image: url(../assets/icons/insta.svg)
        // background-image: url(../assets/icons/insta.svg)
    &_facebook
        -webkit-mask-image: url(../assets/icons/facebook.svg)
        // background-image: url(../assets/icons/facebook.svg)
    &_twitter
        -webkit-mask-image: url(../assets/icons/twitter.svg)
        // background-image: url(../assets/icons/twitter.svg)
    &_pinterest
        -webkit-mask-image: url(../assets/icons/pinterest.svg)
        // background-image: url(../assets/icons/pinterest.svg)