.header
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: transparent
    &__container
        padding: 60px 0
        display: flex
        justify-content: space-between
    &__nav
        & .nav__list
        & .nav__item
            &:not(:last-child)
                margin-right: 55px
.burger-menu
    display: none
    &__icon
        background-image: url('../assets/icons/burger-menu.svg')
        background-repeat: no-repeat
        background-position: center center
        border: none
        outline: none
        padding: 0
        background-color: transparent
        width: 32px
        height: 18px