.tickets
    &__wrapper
        display: flex
    &__content
        display: flex
        flex-direction: column
        width: 100%
    &__image
        width: 720px
        height: 550px
        margin-right: 60px
        img
            display: none
            width: inherit
            height: inherit
            object-fit: cover
            // transition: opacity 1s linear .2s
            opacity: 0
            &:first-child
                display: block
                // opacity: 1
    &__blocks
        display: flex
        justify-content: space-between
    &__total-amount
        display: flex
        align-items: center
        @include roboto_28_dark
        font-weight: 700
        letter-spacing: 1.65px
        & > span
            @include roboto_28_dark
            font-weight: 700
    &__button
        @include button-non-rounded
        font-weight: 300
        background-color: $dark
        text-align: center
        color: $light
        height: 50px
        width: 175px
        margin-left: auto
    &__ticket-type
        display: flex
        flex-direction: column
    &__ticket-amount
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-bottom: 60px
    .ticket-type
        &__block-title
            @include roboto_28_dark
            font-weight: bold
            margin-bottom: 50px
            display: block
        &__inputs
            display: flex
            flex-direction: column
        &__input-wrapper
            display: flex
            align-items: center
            &:not(:last-child)
                margin-bottom: 25px
            .checkmark
                position: relative
                cursor: pointer
                height: 17px
                width: 17px
                border: 2px solid $dark
                border-radius: 50%
                margin-right: 25px
            input
                display: none
            input:checked + .checkmark
                &::after
                    position: absolute
                    content: ''
                    width: 7px
                    height: 7px
                    display: block
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    background-color: $dark
                    border-radius: 50%                    
            label
                @include roboto_22_dark
                font-weight: 300
                cursor: pointer
                &:hover
                    color: $gold
    .ticket-amount
        &__block-title
            @include roboto_28_dark
            font-weight: bold
            margin-bottom: 25px
            display: block
        &__items
            display: flex
            flex-direction: column
            margin-bottom: 50px
        &__item
            display: flex
            flex-direction: column
            &:not(:last-child)
                margin-bottom: 10px
            span
                @include roboto_22_dark
                font-weight: 300
                margin-bottom: 15px
        &__input-number
            width: 150px
            height: 50px
            border: 3px solid $dark
            position: relative
            input
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                width: 100%
                height: 100%
                padding: 0 38px
                @include roboto_22_dark
                font-weight: 300
                border: none
                outline: none
                text-align: center
            .operation
                display: flex
                align-items: center
                justify-content: center
                position: absolute
                top: -1px
                bottom: -1px
                background-color: transparent
                width: 38px
                @include roboto_32_dark
                z-index: 10
                border: none
                outline: none
                &_minus
                    left: -1px
                &_plus
                    right: -1px